html {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

:root {
  --color_white: #fff;
  --color_black: #000;
  --color_red: #ff0000;
  --text_color_main: var(--color_black);
  --text_color_invert: var(--color_white);
  --accent_color: var(--color_red);
  --bg_color_main: var(--color_white);
  --bg_color_invert: var(--color_black);
  --container: 1200px;
  --container_padding: 20px;
  --font_primary: "Roboto", sans-serif;
  --font_size: 16px;
  --font_weight: 400;
  --line_height: 1;
  --burger_width: 30px;
  --burger_height: 20px;
  --burger_line_height: 2px;
  --burger_line_color: #000;
  --transition: 0.2s linear;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/RobotoBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/RobotoBlack.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: var(--font_primary);
  font-style: normal;
  font-size: var(--font_size);
  font-weight: var(--font_weight);
  line-height: var(--line_height);
  background-color: var(--bg_color_main);
  color: var(--text_color_main);
}

/* CONTAINERS
===================================================== */
.site-content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: calc(var(--container) + var(--container_padding) * 2);
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 0;
  padding-right: var(--container_padding);
  padding-bottom: 0;
  padding-left: var(--container_padding);
}

/* SECTION
===================================================== */
/* TITLES
===================================================== */
/* TEXT
===================================================== */
/* BUTTONS
===================================================== */
.btn {
  cursor: pointer;
  transition: var(--transition);
}

.burger-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: var(--burger_width);
  height: var(--burger_height);
}
.burger-menu span {
  top: calc(var(--burger_height) / 2 - var(--burger_line_height) / 2);
}
.burger-menu span, .burger-menu::before, .burger-menu::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger_line_height);
  background-color: var(--burger_line_color);
  transition: 0.2s ease-in-out;
}
.burger-menu::before {
  top: 0;
}
.burger-menu::after {
  bottom: 0;
}
.burger-menu[data-menu=open] span {
  transform: rotate(45deg);
}
.burger-menu[data-menu=open]::before {
  top: calc(var(--burger_height) / 2 - var(--burger_line_height) / 2);
  transform: rotate(-45deg);
}
.burger-menu[data-menu=open]::after {
  bottom: calc(var(--burger_height) / 2 - var(--burger_line_height) / 2);
  transform: rotate(-45deg);
}

.footer {
  padding: 20px 0;
  background-color: lightsteelblue;
}

.header {
  background-color: lightsteelblue;
  padding: 20px 0;
}

.header {
  position: relative;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 0 0 auto;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0 20px;
  list-style-type: none;
}
.menu__link {
  position: relative;
  padding: 5px;
  transition: var(--transition);
}
.menu__link::before, .menu__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  transition: var(--transition);
}
.menu__link::before {
  bottom: 0;
  left: 0;
}
.menu__link::after {
  top: 0;
  right: 0;
}
.menu__link:hover {
  color: rgba(var(--text_color_main, 0.9));
}
.menu__link:hover::before, .menu__link:hover::after {
  width: 50%;
}