body {
    font: {
        family: var(--font_primary);
        style: normal;
        size: var(--font_size);
        weight: var(--font_weight);
    }

    line-height: var(--line_height);
    background-color: var(--bg_color_main);
    color: var(--text_color_main);
}

/* CONTAINERS
===================================================== */
.site-content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: calc(var(--container) + var(--container_padding)*2);
    width: 100%;

    margin: {
        top: 0;
        right: auto;
        bottom: 0;
        left: auto;
    }

    padding: {
        top: 0;
        right: var(--container_padding);
        bottom: 0;
        left: var(--container_padding);
    }
}

/* SECTION
===================================================== */
.section {
    // padding: var(--section_offset) 0;
}

/* TITLES
===================================================== */
.title {
    &_lg {}

    &_md {}

    &_sm {}

    &_xs {}
}

.subtitle {}

.suptitle {}

/* TEXT
===================================================== */
.text-content {}

.descr {}

.accent {}

/* BUTTONS
===================================================== */
.btn {
    cursor: pointer;
    // background-color: transparent;
    // border: none;
    // font: {
    //     family: inherit;
    //     style: inherit;
    //     weight: inherit;
    //     size: inherit;
    // }
    // line-height: 1;
    transition: var(--transition);
}
