body {
    font-family: $font_primary;
    font-style: normal;
    font-size: $font_size;
    font-weight: $font_weight;
    line-height: $line_height;
    background-color: $bg_color_main;
    color: $text_color_main;
}

/* CONTAINERS
===================================================== */
.site-content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: $container + $container_padding * 2;
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-right: $container_padding;
    padding-bottom: 0;
    padding-left: $container_padding;
}

/* SECTION
===================================================== */
.section {
    padding: $section_offset 0;
}

/* TITLES
===================================================== */
.top-title {}

.title {
    &_center {
        text-align: center;
    }
}

.subtitle {}

.suptitle {}

/* TEXT
===================================================== */
.text-content {}

.descr {}

/* BUTTONS
===================================================== */
.btn {
    cursor: pointer;
    transition: $transition;
}
