body {
    font: {
        family: $font_primary;
        style: normal;
        size: $font_size;
        weight: $font_weight;
    }

    line-height: $line_height;
    background-color: $bg_color_main;
    color: $text_color_main;
}

/* CONTAINERS
===================================================== */
.site-content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: $container + $container_padding * 2;
    width: 100%;

    margin: {
        top: 0;
        right: auto;
        bottom: 0;
        left: auto;
    }

    padding: {
        top: 0;
        right: $container_padding;
        bottom: 0;
        left: $container_padding;
    }
}

/* SECTION
===================================================== */
.section {
    padding: $section_offset 0;
}

/* TITLES
===================================================== */
.top-title {}

.title {
    &_center {
        text-align: center;
    }
}

.subtitle {}

.suptitle {}

/* TEXT
===================================================== */
.text-content {}

.descr {}

/* BUTTONS
===================================================== */
.btn {
    cursor: pointer;
    // background-color: transparent;
    // border: none;

    // font: {
    //     family: inherit;
    //     style: inherit;
    //     weight: inherit;
    //     size: inherit;
    // }

    // line-height: 1;
    transition: $transition;
}
